body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(50deg,#F0EB7D);
	background-size: 400% 400%;
	-webkit-animation:gradientBG 8s ease infinite;
	        animation:gradientBG 8s ease infinite;
}
.efecto {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}


@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}